@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$navBlue: #1E2859;
$white: #fff;
$black: #000;
$grey: #9C9C9C;
$skyBlue: #0549AE;
$body-bg : #f7f7f7;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.App {
  overflow-x: hidden;
}

body {
  scrollbar-color: red yellow;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

// HEADER START
.headerSection {
  background: $navBlue;
  height: 65px;

  .headerBrand {
    cursor: pointer;
    width: 360px;
    height: 120px;
    background: $white;
    padding: 20px 15px;
    position: relative;
    box-shadow: 0 0 7px 0px #00000038;

    img {
      width: 85px;
      height: auto;
    }
    h2 {
      font-size: 15px;
      line-height: 21px;
      text-transform: uppercase;
      font-weight: 700;
      color: #2f2b33;
      display: block;
    }
  }

  .headerContent {
    span {
      color: #ff0000;
      font-weight: 500;
      margin-right: 20px;
    }
    margin-bottom: 50px;
    a {
      font-weight: 500;
      font-size: 15px;
      line-height: 10px;
      color: $white;
      display: flex;
      align-items: center;
      margin-right: 18px;
      &::before {
        display: block;
        content: '';
        width: 18px;
        height: 18px;
        background: url(./img/phone-call.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 5px;
      }
    }
  }

  .langList {
    padding-left: 0;
    padding-right: 10px;
    margin-right: 19px;
    .langWrap{
      position: relative;
      transition: 0.3s ease-in;
      display: flex;
      align-items: center;
      
      h5{
        padding: 0;
        margin: 0;
        cursor: pointer;
        font-weight: 500;
        font-size: 15px;
        color: $white;
        margin-top: 14px;
      }
  
      .wrap{
        z-index: 5;
        font-weight: 500;
        font-size: 12px;
        transition: 0.5s ease-in;
        display: none;
        width: 110px;
        position: absolute;
        top: 34px;
        left: -40px;
        padding: 10px;
        background-color: $body-bg;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

        p{
          cursor: pointer;
          color: $black;
          margin-bottom: 10px;
          margin-left: 20px;
        }
        p:hover {
          transition: 0.3s ease-in;
          color: $black;
        }
      }
  
      &:hover{
        .wrap{
          transition: 0.5s ease-in;
          display: block;
        }
      }
    }
  }

  img {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
}

.navSection {
  height: 55px;
  background: $white;
  .nav {
    position: relative;
  }
  .nav-link{
    color: $navBlue;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    margin-left: 40px;
  }
  
  .langList {
    display: none;
    padding-left: 0;
    .langWrap{
      position: relative;
      transition: 0.3s ease-in;
      display: flex;
      align-items: center;
      
      h5{
        cursor: pointer;
        margin: 0;
        color: $white;
      }
  
      .wrap{
        transition: 0.5s ease-in;
        display: none;
        width: 120px;
        position: absolute;
        right: -10px;
        top: 30px;
        padding: 10px;
        background-color: $body-bg;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
        
        p{
          cursor: pointer;
          color: $black;
          margin-bottom: 10px;
          margin-left: 20px;
        }
        p:hover {
          transition: 0.3s ease-in;
          color: $black;
        }
      }
  
      &:hover{
        .wrap{
          transition: 0.5s ease-in;
          display: block;
        }
      }
    }
  }
  
  .navList {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    a {
      margin-left: 15px;
      font-weight: 600;
      font-size: 16px;
      line-height: 11px;
      color: $navBlue;
      padding: 22px 0;
      display: block;
    }
  }
  
  .navToggle {
    position: relative;
    position: fixed;
    top: 60px;
    right: 0;
    cursor: pointer;
    display: none;
    div {
      width: 2.5rem;
      height: 0.2rem;
      margin: 0.4rem;
      background: #9C9C9C;
      transition: 0.4s ease-in;
    }
  }
}

// HERO START
.heroSection {
  background: url(./img/HeroImg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 91.2vh;
  margin-bottom: 33px;
  
  .heroTitle {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    background: #1E2859b2;
    padding: 10px;
    position: relative;
    top: 100px;
    text-align: center;
  }
}

// HOME NEWS START
.HomeNewsSection {
  .HomeNewsText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    h2 {
      font-weight: 600;
      font-size: 22px;
      line-height: 96.4%;
      display: flex;
      align-items: center;
      color: $navBlue;
    }

    .allNews {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 11px;
      color: #3f3f3f;
      margin-top: -6px;

      svg {
        margin-left: 6px;
      }
    }
  }

  .HomeNewsContent {
    .HomeNewsAnimated {
      cursor: pointer;
      margin-bottom: 40px;
      transform: scale(1);
      transition: all .5s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
      .moreNewsContent {
        display: flex;
        justify-content: space-between;
        width: 370px;
      }
      img {
        width: 370px;
        height: 246px;
        border-radius: 3px;
        object-fit: cover;
        margin-bottom: 10px;
      }

      h2 {
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: $navBlue;
        margin-bottom: 13px;
      }

      .moreNews {
        font-weight: 500;
        font-size: 14px;
        line-height: 10px;
        color: $grey;
      }

      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 10px;
        color: $grey;
      }
    }
  }

  // ABOUT US START
  .aboutUsContent {
    margin: 100px 0;    
    .aboutUsInfo {
      text-align: center;
      img {
        width: 600px;
        height: 400px;
        object-fit: cover;
        margin-bottom: 40px;
      }

      h2 {
        font-weight: 700;
        font-size: 22px;
        line-height: 96.4%;
        align-items: center;
        color: $black;
        display: block;
        margin-bottom: 20px;
      }

      p {
        text-align: left;
        margin: 0 auto;
        width: 450px !important;
        display: block;
        font-weight: 600;
        font-size: 16px;
        line-height: 122.4%;
        color: #3B3B3B;
        margin-bottom: 10px;
      }
    }
  }
}

// INDICATOR START
.indicatorSection {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(./img/HeroImg2.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .pTop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  }

  .blur {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180.03deg, rgba(26, 33, 73, 0) 0.03%, #18235C 99.97%), rgba(24, 35, 92, 0.5);
  }

  .indicatorText {
    display: block;
    text-align: center;
    z-index: 5;

    .indicatorHeaderTitle {
      font-weight: 700;
      font-size: 36px;
      line-height: 122.4%;
      color: $white;
      margin-bottom: 20px;
    }

    p {
      width: 500px;
      font-weight: 400;
      font-size: 12px;
      line-height: 143.9%;
      color: $white;
      text-align: center;
      display: block;
      margin: 0 auto;
      margin-bottom: 70px;
    }
  }

  .indicatorContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    h2 {
      font-weight: 700;
      font-size: 25px;
      line-height: 96.4%;
      display: flex;
      align-items: center;
      letter-spacing: -0.01em;
      color: $white;
      justify-content: center;
      margin-bottom: 40px;
    }
    div {
      margin-bottom: 20px;
      padding: 25px 25px 0 25px;
      width: 250px;
      height: auto;
      background: #374276;

      h1 {
        font-weight: 700;
        font-size: 45px;
        line-height: 96.4%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: -0.01em;
        color: $white;
        margin-bottom: 15px;
      }

      h2 {
        font-weight: 700;
        font-size: 12px;
        line-height: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: -0.01em;
        color: $white;
      }
    }
  }
}

.partnerSection {
  width: 100%;
  height: 250px;
  background: #18235C;
  margin-bottom: 100px;

  h2 {
    font-weight: 700;
    font-size: 17.4434px;
    line-height: 96.4%;
    letter-spacing: -0.01em;
    color: $white;
    display: flex;
    justify-content: center;
  }
}

// GALLARY START
.gallarySection {
  margin-bottom: 100px;
  .galleryTitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 96.4%;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: $black;
    margin-bottom: 35px;
  }

  .gallaryContent {
    .gallaryInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .galleryBigImg {
        width: 750px;
        height: 557px;
        margin-bottom: 30px;
        object-fit: cover;
      }

      .gallaryInfo2 {
        display: flex;
        display: block;
        position: relative;
        left: 250px;

        img {
          object-fit: cover;
          width: 350px;
          height: 264px;
        }
        img:nth-child(1) {
          position: relative;
          top: -30px;
        }
      }
    }

    .gallaryInfos {
      display: flex;
      align-items: center;
      justify-content: space-between;
      object-fit: cover;
      img {
        width: 350px;
        height: 264px;
        margin-right: 85px;
      }
    }

  }
}

// ATLETS START
.atletsSection {
  margin-bottom: 100px;
  h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 96.4%;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: $black;
    margin-bottom: 40px;
  }

  .atletsContent {
    div {
      cursor: pointer;
      margin: 0 auto;    
      text-align: center;
      margin-bottom: 10px;  
      p {
        font-weight: 700;
        font-size: 15px;
        line-height: 107.9%;
        color: $black;
      }
    }

    .atletsAva {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      background-color: #ffffffb2;
      padding-top: 20px;
      transform: scale(1);

      img {
        width: 80px;
        height: 90px;
        &:hover {
          transition: all .5s ease-in-out;
          transform: scale(1.2);
        }
      }
    }
  }
}

// RAHBARIYAT START

.rahbariyatSection {
  margin-bottom: 100px;
  .rahbariyatContent {
    .rahbariyatTitle {
      margin-bottom: 50px;
      font-size: 30px;
      line-height: 21px;
      font-weight: 700;
    }
    .rahbariyatCard {
      display: flex;
      margin-bottom: 50px;
      align-items: center;
      
      img {
        width: 120px;
        height: 140px;
        margin-right: 20px;
      }

      .rahbariyatInfo {
        h2 {
          font-size: 15px;
          line-height: 21px;
          text-transform: uppercase;
          font-weight: 700;
        }

        p {
          font-weight: 500;
          font-size: 15px;
        }
      }
    }
  }
}

// GOOGLE MAP
.googleMap {
  width: 100%;
  height: 300px;
}

// FOOTER START 
.footerNavSection {
  background: #18235C;
  padding: 20px 0;
  .footerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
      img {
        width: 100px;
        height: auto;
      }
      h2 {
        width: 277px;
        font-size: 15px;
        line-height: 21px;
        text-transform: uppercase;
        font-weight: 700;
        color: $white;
        display: block;
      }
    }

    .footerList {
      display: flex;
      align-items: center;
      .FooterLink {
        margin-right: 30px;
        font-weight: 600;
        font-size: 16px;
        line-height: 10px;
        color: $white;
      }
    }
  }
}

// FOOTER BOTTOM START 
.footerBottom {
  padding: 30px 0;
  background: #242E64;

  .footerBottomContent {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    div {
      h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 96.4%;
        display: flex;
        align-items: center;
        letter-spacing: -0.01em;
        color: $white;
        margin-bottom: 20px;
      }

      .footerBottomInfo {
        font-weight: 600;
        font-size: 16px;
        line-height: 96.4%;
        display: flex;
        align-items: center;
        letter-spacing: -0.01em;
        color: $white;
        margin-bottom: 10px;
        i {
          font-size: 20px;
          margin-right: 10px;
        }
      }

      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: -0.01em;
        color: $white;
        margin-bottom: 10px;
      }
    }

    div {
      .footerSocialLink {
        a {
          margin-right: 20px;
          color: $white;
          font-size: 25px;
        }
      }
    }
  }
}